// Author: Jake Schellhorn
// Pug file to render menu page after connecting to databa
doctype html
meta(charset='UTF-8')
meta(name='description' content='The Copper Fork')
meta(name='keywords' content='Copper Fork, Restaurant, Menu')
meta(name='author' content='Jake Schellhorn')
meta(name='viewport' content='width=device-width, initial-scale=1.0')
head
  title The Copper Fork
  link(rel='stylesheet' href='/stylesheets/banner.css')
  link(rel='stylesheet' href='/stylesheets/menu.css')
  script(src='/js/cart.js')
header.banner
  a.logo(href='/') The Copper Fork
  nav.nav
    a(href='/menu') MENU
    a(href='/order') ORDER NOW
    a(href='/reservation') RESERVATIONS
    a(href='/catering') CATERING
    a(href='/login') LOGIN
    a#card-count(href='/cart') 0


each category in ["Appetizers", "Entrees", "Soups and Salads", "Sides"]
    h1#menu-heading= category
        .grid-container
            each item in menuItems
                if item.type == category
                    .card
                        img(src=item.imageUrl alt = item.name)
                        .overlay
                            p= item.description
                        .food-name 
                            h4= item.name
                            h4 $#{item.price}
                        button#add-to-bag(type='button') Add to Bag
    